.tweeter-query-container {
  background-color: #1da1f2;
  width: 100%;
  margin-bottom: 10px;
}

.tweeter-query-heading {
  color: white;
  padding: 13px 0px;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: bold;
  line-height: 32px;
  overflow: hidden;
}

