.tweetTagContainer{
  float: left;
  padding: 7px 12px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 300;
  margin: 10px;
  a {
    font-size: 20px;
    color: white;
    border: none;
    text-decoration: none;
    letter-spacing: 0.3px;
  }
}